<a href="https://colab.research.google.com/github/Saumya0330/Saumya-USC420/blob/main/assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [ ]:
L=[10, 20, 30, 40, 50, 60, 70, 80]
L.extend([200,300])
print(L)
L.remove(10)
L.remove(30)
print(L)
L.sort()
print(L)
L.sort(reverse=True)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [ ]:
scores=(45,89.5,76,45.4,89,92,58,45)
print('highest score',max(scores))
print('index',scores.index(max(scores)))
print('lowest score',min(scores))
print('frequency of min score',scores.count(min(scores)))
rev_scores=list(reversed(scores))
print(rev_scores)
res=76 in scores
print('is 76 present?',res)
if res:
  print('index',scores.index(76))

highest score 92
index 5
lowest score 45
frequency of min score 2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
is 76 present? True
index 2

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [ ]:
import random
L=list(random.sample(range(100,901),100))
print(L)
len(L)
count_odd=count_even=count_prime=0
for i in L:
  is_prime=True
  if i%2==0:
    print('even no:',i)
    count_even+=1
  else:
    print('odd no:',i)
    count_odd+=1
  for j in range(2,i//2+1):
    if i%j==0:
      is_prime=False
      break
  if is_prime:
   print('prime no:',i)
   count_prime+=1

print('total odd',count_odd)
print('total even',count_even)
print('total prime',count_prime)

[300, 210, 468, 180, 783, 395, 781, 319, 488, 266, 244, 166, 483, 516, 207, 683, 375, 436, 407, 609, 299, 173, 510, 190, 843, 861, 263, 811, 536, 658, 482, 533, 206, 152, 740, 237, 854, 481, 743, 322, 196, 318, 326, 102, 662, 264, 448, 245, 886, 645, 608, 790, 803, 654, 739, 462, 841, 365, 672, 716, 446, 226, 107, 475, 737, 894, 142, 706, 127, 472, 544, 745, 514, 141, 814, 205, 887, 377, 441, 884, 290, 311, 559, 393, 611, 278, 695, 863, 849, 363, 144, 131, 663, 171, 634, 610, 378, 641, 250, 673]
even no: 300
even no: 210
even no: 468
even no: 180
odd no: 783
odd no: 395
odd no: 781
odd no: 319
even no: 488
even no: 266
even no: 244
even no: 166
odd no: 483
even no: 516
odd no: 207
odd no: 683
prime no: 683
odd no: 375
even no: 436
odd no: 407
odd no: 609
odd no: 299
odd no: 173
prime no: 173
even no: 510
even no: 190
odd no: 843
odd no: 861
odd no: 263
prime no: 263
odd no: 811
prime no: 811
even no: 536
even no: 658
even no: 482
odd no: 533
even no: 206
even no: 152
even no: 740
odd no: 237
even no: 854
odd no: 481
odd no: 743
prime no: 743
even no: 322
even no: 196
even no: 318
even no: 326
even no: 102
even no: 662
even no: 264
even no: 448
odd no: 245
even no: 886
odd no: 645
even no: 608
even no: 790
odd no: 803
even no: 654
odd no: 739
prime no: 739
even no: 462
odd no: 841
odd no: 365
even no: 672
even no: 716
even no: 446
even no: 226
odd no: 107
prime no: 107
odd no: 475
odd no: 737
even no: 894
even no: 142
even no: 706
odd no: 127
prime no: 127
even no: 472
even no: 544
odd no: 745
even no: 514
odd no: 141
even no: 814
odd no: 205
odd no: 887
prime no: 887
odd no: 377
odd no: 441
even no: 884
even no: 290
odd no: 311
prime no: 311
odd no: 559
odd no: 393
odd no: 611
even no: 278
odd no: 695
odd no: 863
prime no: 863
odd no: 849
odd no: 363
even no: 144
odd no: 131
prime no: 131
odd no: 663
odd no: 171
even no: 634
even no: 610
even no: 378
odd no: 641
prime no: 641
even no: 250
odd no: 673
prime no: 673
total odd 49
total even 51
total prime 14

4. Consider the following two sets, A and B, representing scores of two teams in multiple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operations using set functions:
i. Find the unique scores achieved by both teams (union of sets).
ii. Identify the scores that are common to both teams (intersection of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [ ]:
A={34,56,78,90}
B={78,45,90,23}
print(A|B)
print('A union B',A.union(B))
print(A&B)
print('A intersection B',A.intersection(B))
print(A-B)
print('set A-B',A.difference(B))
print(B-A)
print('set B-A',B.difference(A))
if A|B==B:
  print('A is subset of B')
else:
  print('A is not a subset of B')
x=int(input('enter score x '))
for i in A:
  flag=True
  if x==i:
    flag=False
    A.remove(x)
    print(A)
    break
if flag:
  print(x,'is not present in set A')

{34, 45, 78, 23, 56, 90}
A union B {34, 45, 78, 23, 56, 90}
{90, 78}
A intersection B {90, 78}
{56, 34}
set A-B {56, 34}
{45, 23}
set B-A {45, 23}
A is not a subset of B
enter score x 90
{56, 34, 78}

5. Write a program to rename a key city to a location in the following dictionary.

In [ ]:
dict1={'name':'Saumya','age':'19','salary':8000,'city':'Patiala'}
dict1['location']=dict1.pop('city')
dict1

{'name': 'Saumya', 'age': '19', 'salary': 8000, 'location': 'Patiala'}