<a href="https://colab.research.google.com/github/Saumya0330/Saumya-USC712/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assingment 1.1: WAP to print your name three times

In [1]:
for i in range(3):
  print('Saumya')

Saumya
Saumya
Saumya

Assingment 2.1: WAP to add three numbers and print the result.

In [4]:
a=int(input('enter number1 '))
b=int(input('enter number2 '))
c=int(input('enter number3 '))
d=a+b+c
print('sum is ',d)

enter number1 1
enter number2 2
enter number3 3
sum is  6

Assingment 2.2: WAP to concatinate three strings and print the result.

In [7]:
a=str(input('enter string1 '))
b=str(input('enter string2 '))
c=str(input('enter string3 '))
d=a+b+c
print('concatenated string is ',d)

enter string1 how
enter string2 are
enter string3 you?
concatenated string is  howareyou?

Assingment 4.1: WAP to print the table of 7, 9.

In [9]:
for i in range(1,11):
  print('7 X ',i,' = ',7*i,'\t9 x ',i,' = ',9*i)

7 X  1  =  7 	9 x  1  =  9
7 X  2  =  14 	9 x  2  =  18
7 X  3  =  21 	9 x  3  =  27
7 X  4  =  28 	9 x  4  =  36
7 X  5  =  35 	9 x  5  =  45
7 X  6  =  42 	9 x  6  =  54
7 X  7  =  49 	9 x  7  =  63
7 X  8  =  56 	9 x  8  =  72
7 X  9  =  63 	9 x  9  =  81
7 X  10  =  70 	9 x  10  =  90

Assingment 4.2: WAP to print the table of n and n is given by user.

In [11]:
n=int(input('enter number '))
for i in range(1,11):
  print(n,' X ',i,' = ',n*i)

enter number 6
6  X  1  =  6
6  X  2  =  12
6  X  3  =  18
6  X  4  =  24
6  X  5  =  30
6  X  6  =  36
6  X  7  =  42
6  X  8  =  48
6  X  9  =  54
6  X  10  =  60

Assingment 4.3: WAP to add all the numbers from 1 to n and n is given by user

In [13]:
n=int(input('enter number '))
print('sum is ',sum(range(1,n+1)))

enter number 10
sum is  55

Assingment 5.1: WAP to find max amoung three numbers and input from user. [Try max() function]

In [16]:
a=int(input('enter number1 '))
b=int(input('enter number2 '))
c=int(input('enter number3 '))
print('max number is ',max(a,b,c))

enter number1 2
enter number2 5
enter number3 1
max number is  5

Assingment 5.2: WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [23]:
n=int(input('enter number '))
sum=0
for i in range(1,n+1):
  if i%7==0 and i%9==0:
    print(i)
    sum=sum+i

print('sum is',sum)

enter number 344
63
126
189
252
315
sum is 945

Assingment 5.3: WAP to add all prime numbers from 1 to n and n is given by the user.

In [33]:
n=int(input('enter number '))
sum=0

for j in range(2,n+1):
  flag=True
  for i in range(2,j//2+1):
   if j%i==0:
    flag=False
    break
  if flag==True:
    print('prime no: ',j)
    sum=sum+j
print('sum is ',sum)

enter number 15
prime no:  2
prime no:  3
prime no:  5
prime no:  7
prime no:  11
prime no:  13
sum is  41

Assingment 6.1: WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [34]:
n=int(input('enter number '))
def add_odd(n):
  sum=0
  for i in range(1,n+1):
    if i%2!=0:
      sum=sum+i
      print('odd no: ',i)
  return sum
print('sum of odd no is ',add_odd(n))

enter number 8
odd no:  1
odd no:  3
odd no:  5
odd no:  7
sum of odd no is  16

Assingment 6.2: WAP using function that add all prime numbers from 1 to n, n given by the user.

In [35]:
n=int(input('enter number '))
def add_prime(n):
  sum=0
  for i in range(1,n+1):
    flag=True
    for j in range(2,i//2+1):
      if i%j==0:
        flag=False
        break
    if flag:
        sum=sum+i
        print('prime no: ',i)
  return sum

print('sum is ',add_prime(n))

enter number 14
prime no:  1
prime no:  2
prime no:  3
prime no:  5
prime no:  7
prime no:  11
prime no:  13
sum is  42